In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

# 1. Read the dataset to python environment

In [2]:
data=pd.read_excel(r'C:\Users\sreejayan\Desktop\assignment\iris.xls')

In [3]:
data

      SL   SW   PL   PW  Classification
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    NaN  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  NaN  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
data.head(50)

     SL   SW   PL   PW Classification
0   5.1  3.5  1.4  0.2    Iris-setosa
1   4.9  3.0  1.4  0.2    Iris-setosa
2   NaN  3.2  1.3  0.2    Iris-setosa
3   4.6  3.1  1.5  0.2    Iris-setosa
4   5.0  3.6  1.4  0.2    Iris-setosa
5   5.4  3.9  1.7  0.4    Iris-setosa
6   4.6  3.4  1.4  0.3    Iris-setosa
7   5.0  3.4  1.5  0.2    Iris-setosa
8   4.4  2.9  1.4  0.2    Iris-setosa
9   4.9  3.1  1.5  0.1    Iris-setosa
10  5.4  NaN  1.5  0.2    Iris-setosa
11  4.8  3.4  1.6  0.2    Iris-setosa
12  4.8  3.0  1.4  0.1    Iris-setosa
13  4.3  3.0  1.1  0.1    Iris-setosa
14  5.8  4.0  1.2  0.2    Iris-setosa
15  5.7  4.4  1.5  0.4    Iris-setosa
16  5.4  3.9  1.3  0.4    Iris-setosa
17  5.1  3.5  1.4  0.3    Iris-setosa
18  5.7  3.8  1.7  0.3    Iris-setosa
19  5.1  3.8  1.5  0.3    Iris-setosa
20  5.4  3.4  1.7  0.2    Iris-setosa
21  NaN  3.7  1.5  0.4    Iris-setosa
22  4.6  3.6  1.0  0.2    Iris-setosa
23  5.1  3.3  1.7  0.5    Iris-setosa
24  4.8  3.4  1.9  0.2    Iris-setosa
25  5.0  3.0  1.6  0.2    Iris-setosa
26  5.0  3.4  1.6  0.4    Iris-setosa
27  5.2  NaN  1.5  0.2    Iris-setosa
28  5.2  3.4  NaN  0.2    Iris-setosa
29  4.7  3.2  1.6  0.2    Iris-setosa
30  4.8  3.1  1.6  0.2    Iris-setosa
31  5.4  3.4  1.5  0.4    Iris-setosa
32  5.2  4.1  1.5  0.1    Iris-setosa
33  5.5  4.2  1.4  0.2    Iris-setosa
34  4.9  3.1  1.5  0.1    Iris-setosa
35  5.0  3.2  1.2  0.2    Iris-setosa
36  5.5  3.5  1.3  0.2    Iris-setosa
37  4.9  3.1  1.5  0.1    Iris-setosa
38  4.4  3.0  1.3  0.2    Iris-setosa
39  NaN  3.4  1.5  0.2    Iris-setosa
40  5.0  3.5  1.3  0.3    Iris-setosa
41  4.5  2.3  1.3  0.3    Iris-setosa
42  4.4  3.2  NaN  0.2    Iris-setosa
43  5.0  NaN  1.6  0.6    Iris-setosa
44  5.1  3.8  1.9  0.4    Iris-setosa
45  4.8  3.0  1.4  0.3    Iris-setosa
46  5.1  3.8  1.6  0.2    Iris-setosa
47  4.6  3.2  1.4  0.2    Iris-setosa
48  5.3  3.7  1.5  0.2    Iris-setosa
49  5.0  3.3  1.4  0.2    Iris-setosa

# 2.the pre-processing steps

In [5]:
data.describe()

               SL          SW          PL          PW
count  143.000000  144.000000  144.000000  150.000000
mean     5.855944    3.049306    3.756250    1.198667
std      0.828168    0.430644    1.761306    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SL              143 non-null    float64
 1   SW              144 non-null    float64
 2   PL              144 non-null    float64
 3   PW              150 non-null    float64
 4   Classification  150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:
data.columns

Index(['SL', 'SW', 'PL', 'PW', 'Classification'], dtype='object')

In [8]:
# Let's check the dataset for any missing values
data.isnull().sum()

SL                7
SW                6
PL                6
PW                0
Classification    0
dtype: int64

In [9]:
# Create an imputer object
from sklearn.impute import SimpleImputer
# Handle missing values using mean imputation
imputer = SimpleImputer(strategy='mean')
data['SL'] = imputer.fit_transform(data[['SL']])
data['SW'] = imputer.fit_transform(data[['SW']])
data['PL'] = imputer.fit_transform(data[['PL']])

In [10]:
data.isnull().sum()

SL                0
SW                0
PL                0
PW                0
Classification    0
dtype: int64

In [11]:
data.head(60)

          SL        SW       PL   PW   Classification
0   5.100000  3.500000  1.40000  0.2      Iris-setosa
1   4.900000  3.000000  1.40000  0.2      Iris-setosa
2   5.855944  3.200000  1.30000  0.2      Iris-setosa
3   4.600000  3.100000  1.50000  0.2      Iris-setosa
4   5.000000  3.600000  1.40000  0.2      Iris-setosa
5   5.400000  3.900000  1.70000  0.4      Iris-setosa
6   4.600000  3.400000  1.40000  0.3      Iris-setosa
7   5.000000  3.400000  1.50000  0.2      Iris-setosa
8   4.400000  2.900000  1.40000  0.2      Iris-setosa
9   4.900000  3.100000  1.50000  0.1      Iris-setosa
10  5.400000  3.049306  1.50000  0.2      Iris-setosa
11  4.800000  3.400000  1.60000  0.2      Iris-setosa
12  4.800000  3.000000  1.40000  0.1      Iris-setosa
13  4.300000  3.000000  1.10000  0.1      Iris-setosa
14  5.800000  4.000000  1.20000  0.2      Iris-setosa
15  5.700000  4.400000  1.50000  0.4      Iris-setosa
16  5.400000  3.900000  1.30000  0.4      Iris-setosa
17  5.100000  3.500000  1.40000  0.3      Iris-setosa
18  5.700000  3.800000  1.70000  0.3      Iris-setosa
19  5.100000  3.800000  1.50000  0.3      Iris-setosa
20  5.400000  3.400000  1.70000  0.2      Iris-setosa
21  5.855944  3.700000  1.50000  0.4      Iris-setosa
22  4.600000  3.600000  1.00000  0.2      Iris-setosa
23  5.100000  3.300000  1.70000  0.5      Iris-setosa
24  4.800000  3.400000  1.90000  0.2      Iris-setosa
25  5.000000  3.000000  1.60000  0.2      Iris-setosa
26  5.000000  3.400000  1.60000  0.4      Iris-setosa
27  5.200000  3.049306  1.50000  0.2      Iris-setosa
28  5.200000  3.400000  3.75625  0.2      Iris-setosa
29  4.700000  3.200000  1.60000  0.2      Iris-setosa
30  4.800000  3.100000  1.60000  0.2      Iris-setosa
31  5.400000  3.400000  1.50000  0.4      Iris-setosa
32  5.200000  4.100000  1.50000  0.1      Iris-setosa
33  5.500000  4.200000  1.40000  0.2      Iris-setosa
34  4.900000  3.100000  1.50000  0.1      Iris-setosa
35  5.000000  3.200000  1.20000  0.2      Iris-setosa
36  5.500000  3.500000  1.30000  0.2      Iris-setosa
37  4.900000  3.100000  1.50000  0.1      Iris-setosa
38  4.400000  3.000000  1.30000  0.2      Iris-setosa
39  5.855944  3.400000  1.50000  0.2      Iris-setosa
40  5.000000  3.500000  1.30000  0.3      Iris-setosa
41  4.500000  2.300000  1.30000  0.3      Iris-setosa
42  4.400000  3.200000  3.75625  0.2      Iris-setosa
43  5.000000  3.049306  1.60000  0.6      Iris-setosa
44  5.100000  3.800000  1.90000  0.4      Iris-setosa
45  4.800000  3.000000  1.40000  0.3      Iris-setosa
46  5.100000  3.800000  1.60000  0.2      Iris-setosa
47  4.600000  3.200000  1.40000  0.2      Iris-setosa
48  5.300000  3.700000  1.50000  0.2      Iris-setosa
49  5.000000  3.300000  1.40000  0.2      Iris-setosa
50  7.000000  3.200000  4.70000  1.4  Iris-versicolor
51  5.855944  3.200000  4.50000  1.5  Iris-versicolor
52  6.900000  3.100000  4.90000  1.5  Iris-versicolor
53  5.500000  2.300000  4.00000  1.3  Iris-versicolor
54  6.500000  2.800000  4.60000  1.5  Iris-versicolor
55  5.700000  2.800000  4.50000  1.3  Iris-versicolor
56  6.300000  3.300000  3.75625  1.6  Iris-versicolor
57  4.900000  2.400000  3.30000  1.0  Iris-versicolor
58  6.600000  2.900000  4.60000  1.3  Iris-versicolor
59  5.200000  2.700000  3.90000  1.4  Iris-versicolor

Encode the target variable:

In [12]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['Classification'] = le.fit_transform(data['Classification'])

In [13]:
data

           SL   SW       PL   PW  Classification
0    5.100000  3.5  1.40000  0.2               0
1    4.900000  3.0  1.40000  0.2               0
2    5.855944  3.2  1.30000  0.2               0
3    4.600000  3.1  1.50000  0.2               0
4    5.000000  3.6  1.40000  0.2               0
..        ...  ...      ...  ...             ...
145  6.700000  3.0  5.20000  2.3               2
146  6.300000  2.5  5.00000  1.9               2
147  6.500000  3.0  3.75625  2.0               2
148  6.200000  3.4  5.40000  2.3               2
149  5.900000  3.0  5.10000  1.8               2

[150 rows x 5 columns]

# Now, let's separate the features (SL, SW, PL, PW) and the target variable (Classification)

In [14]:
X = data.drop('Classification', axis=1)
y = data['Classification']

Perform feature scaling:

In [15]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# 3. Find out which classification model gives the best result
# We'll try different classification algorithms and evaluate their performance.

In [16]:
# Importing the required libraries for classification models
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [17]:
# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [18]:
# Initializing the models
models = {
    'Logistic Regression': LogisticRegression(),
    'K-Nearest Neighbors': KNeighborsClassifier(),
   
}

In [19]:
# Training and evaluating each model
results = {}
for model_name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    results[model_name] = accuracy

In [20]:
# Printing the results
for model_name, accuracy in results.items():
    print(f"{model_name}: {accuracy}")

Logistic Regression: 0.9666666666666667
K-Nearest Neighbors: 0.9666666666666667

In [21]:
# The model with the highest accuracy will be considered the best model
best_model = max(results, key=results.get)
print(f"\nBest Model: {best_model}")

Best Model: Logistic Regression